<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" th:fragment="header">

    <a class="navbar-brand text-white" href="/">
        <img th:src="@{/images/logo.jpg}" class="d-inline-block align-top" width="40" height="40" alt=""/>
        <h5 class="d-inline">Forum Wojciech Handel</h5>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav container-fluid">
            <li class="nav-item  active ">
                <a class="nav-link " href="/">Home</a>
            </li>

            <li class="nav-item">
            </li>

            <li class="ml-auto">
            </li>
            <div>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="font-size: 2em;">
                                <i class="fas fa-user-circle"></i>
                            </span>
                        </button>
                        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <div th:if="${#request.getUserPrincipal() == null}">
                                <a class="dropdown-item" href="/login">Zaloguj</a>
                            </div>
<!--                            <div th:if="${#request.getUserPrincipal() != null}">-->
<!--                                <a class="dropdown-item" th:href="@{/profile}"> View profile</a>-->
<!--                            </div>-->
                            <div>
                                <a class="dropdown-item" th:href="@{/registration}">Zarejestruj</a>
                            </div>
                            <div th:if="${#request.getUserPrincipal() != null}">
                                <a class="dropdown-item" href="/logout">Wyloguj</a>
                            </div>
                        </div>
                    </div>
                </li>
            </div>

        </ul>
    </div>
</nav>
</body>

</html>
