<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="../static/css/custom_style.css" rel="stylesheet">
    <link href="../../static/css/custom_style.css" th:href="@{/css/custom_style.css}" rel="stylesheet" />




    
</head>
<body>
    <br>
    <div style="margin-top: 43px"></div>
    <div class="container" th:replace="fragments/header :: header"></div>
    <div class="center-form">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-3"> </div>
                <div class="col-sm-6 bg-brand rounded-signin border-signin">

                    <div class="container mb-4">
                        <!--<img th:src="@{/images/logo.jpg}" class="img-responsive center-block d-inline" width="300" height="300" alt="Logo" />-->
                        <!--<h3 class="form-signin-heading d-inline text-white" th:text="Welcome"></h3>-->

                        <h1 style="color: white"><img class="rounded border border-signin ml-4 mt-3" th:src="@{/images/logo.jpg}" alt="" width="40%" style="height:auto;">
                            Witam </h1>


                        <form th:action="@{/login}" method="POST" class="form-signin">

                            <br />
                            <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" /> <br />
                            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" /> <br />

                            <div align="center" th:if="${param.error}">
                                <p style="color: #FF1C19;">Błędny login lub hasło</p>
                            </div>
                            <button  class="btn btn-lg btn-outline-success btn-block mt-2 " name="Submit" value="Login" type="Submit">Zaloguj</button>
                        </form>
                    </div>
                    <div class="container mb-3">
                        <form th:action="@{/registration}" method="get">
                            <button class="btn btn-md btn-outline-secondary  btn-block" type="Submit">Rejestruj użytkownika</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3"> </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 50px"></div>
    <br>
    <div class="container" th:replace="fragments/footer :: footer"></div>
</body>

</html>
